/**/

html,body {
  background: purple;
  height: 100%;
}

.out {
  border: solid 1px black;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: yellow;
}

#btn {
    background-color: brown;
  font-size: 4em;
}

#btn::after {
    background-color: teal;
  content: "▶▶▶";
  color: red;
}
